@model IEnumerable<EnglishVideo.Models.Word>
<link href="~/Content/MyCss/Games.css" rel="stylesheet" />


<div class="cont-game">
    <span class="title-game">Drag And Drops</span>
    <span class="title-points">Баллы: <span id="points">0</span></span>
</div>

<div id="container-konva"></div>


<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
<script src="~/Scripts/myscripts/games/DragAndDrop.js"></script>
