<link href="~/Content/MyCss/Games.css" rel="stylesheet" />
<link href="~/Content/MyCss/preloader.css" rel="stylesheet" />


<div class="cont-game-info">
    <span class="title-points">Баллы: <span id="points">0</span></span>
</div>

<div id="cont-game">
    <div class="window-start-game ">
        <button id="button-start-game">Начать игру</button>
    </div>
    <div class="body-game">
        <div class="lds-default up"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div id="body-third-game">
            <div id="block-examples-texts"></div>
            <div class="button-with-options">
                <button class="button-options"></button>
                <button class="button-options"></button>
                <button class="button-options"></button>
            </div>
        </div>
    </div>
    <div id="message-game"></div>
    <div id="end-game"></div>
</div>


<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
<script src="~/Scripts/myscripts/games/AjaxRequest.js"></script>
<script src="~/Scripts/myscripts/games/OxfordApi.js"></script>
<script src="~/Scripts/myscripts/games/route.js"></script>
<script src="~/Scripts/myscripts/games/Context.js"></script>
<script src="~/Scripts/myscripts/games/Game.js"></script>
<script src="~/Scripts/myscripts/games/GameExamplesSentences.js"></script>
<script src="~/Scripts/myscripts/games/index.js"></script>

@*<script src="~/Scripts/build/bundle.js"></script>*@