@model IEnumerable<EnglishVideo.Models.Raitings>

<h3>Рейтинг пользователей:</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raiting)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td class="name">
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raiting)
            </td>
        </tr>
    }
    
    </table>

    <link href="~/Content/MyCss/Games.css" rel="stylesheet" />
    <link href="~/Content/MyCss/Raiting.css" rel="stylesheet" />