@model IEnumerable<EnglishVideo.Models.Raitings>

<h2>Рейтинг пользователей:</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raiting)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raiting)
            </td>
        </tr>
    }
    
    </table>

