
@{
    ViewBag.Title = "Index";
}



<h2>Игры:</h2>
<h3> @Html.ActionLink("Игра1", "DragAndDrops", "Games")</h3>
<h3> @Html.ActionLink("Игра2", "SecondGame", "Games")</h3>
<h3><a href="#">Игра 3</a></h3>
<h3><a href="#">Игра 4</a></h3>
<h3><a href="#">Игра 5</a></h3>