

<link href="~/Content/MyCss/Games.css" rel="stylesheet" />




<h2>Игра 3</h2>
<div class="cont-game third">
    <span class="title-points">Баллы: <span id="points">0</span></span>
</div>


<div id="container-konva">
    <div class="window-start-game ">
        <button id="button-start-game">Начать игру</button>
    </div>
    
    <div id="body-third-game">
        <div id="block-examples-texts"></div>
        <div class="button-with-options">
            <button class="button-options"></button>
            <button class="button-options"></button>
            <button class="button-options"></button>
        </div>
    </div>
    <div id="end-game"></div>
</div>


<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
<script src="~/Scripts/myscripts/games/Third.js"></script>
