

<link href="~/Content/MyCss/Games.css" rel="stylesheet" />
<link href="~/Content/MyCss/preloader.css" rel="stylesheet" />
<div class="wrap-game">
    <div class="cont-game-info">
        <span class="title-points">Баллы: <span id="points">0</span></span>
        <span class="title-time">Время: <span id="timer">15</span></span>
    </div>


    <div id="cont-game">
        <div class="window-start-game">
            <button id="button-start-game">Начать игру</button>
        </div>
        <div class="body-game">
            <div class="lds-default up"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="body-word-translation-game">
                <div id="card-word">
                    <span id="card-eng"></span>
                </div>
                <div id="user-write-block">
                    <span>Перевод:</span>
                    <input type="text" id="user-input" />
                    <button class="button-next">&#8594;</button>
                </div>
            </div>
        </div>
        <div id="message-game"></div>
        <div id="end-game"></div>
    </div>
</div>
<script src="~/Scripts/myscripts/games/AjaxRequest.js"></script>
<script src="~/Scripts/myscripts/games/route.js"></script>
<script src="~/Scripts/myscripts/games/Context.js"></script>
<script src="~/Scripts/myscripts/games/Game.js"></script>
<script src="~/Scripts/myscripts/games/GameWordTranslation.js"></script>
<script src="~/Scripts/myscripts/games/index.js"></script>

@*<script src="~/Scripts/build/bundle.js"></script>*@